--- 
stages: 
  - 
    displayName: "Build the web application"
    jobs: 
      - 
        displayName: "Build job"
        job: Build
        pool: 
          demands: 
            - npm
          vmImage: ubuntu-16.04
        steps: 
          - 
            displayName: "Use .NET Core SDK $(dotnetSdkVersion)"
            inputs: 
              version: $(dotnetSdkVersion)
            task: UseDotNet@2
          - 
            displayName: "Run npm install"
            inputs: 
              verbose: false
            task: Npm@1
          - 
            displayName: "Compile Sass assets"
            script: "./node_modules/.bin/node-sass $(wwwrootDir) --output $(wwwrootDir)"
          - 
            displayName: "Run gulp tasks"
            task: gulp@1
          - 
            displayName: "Write build info"
            script: "echo \"$(Build.DefinitionName), $(Build.BuildId), $(Build.BuildNumber)\" > buildinfo.txt"
            workingDirectory: $(wwwrootDir)
          - 
            displayName: "Restore project dependencies"
            inputs: 
              command: restore
              projects: "**/*.csproj"
            task: DotNetCoreCLI@2
          - 
            displayName: "Build the project - $(buildConfiguration)"
            inputs: 
              arguments: "--no-restore --configuration $(buildConfiguration)"
              command: build
              projects: "**/*.csproj"
            task: DotNetCoreCLI@2
          - 
            displayName: "Publish the project - $(buildConfiguration)"
            inputs: 
              arguments: "--no-build --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/$(buildConfiguration)"
              command: publish
              projects: "**/*.csproj"
              publishWebProjects: false
              zipAfterPublish: true
            task: DotNetCoreCLI@2
          - 
            artifact: drop
            publish: $(Build.ArtifactStagingDirectory)
        variables: 
          dotnetSdkVersion: "3.1.100"
          wwwrootDir: Tailspin.SpaceGame.Web/wwwroot
    stage: Build
  - 
    dependsOn: Build
    displayName: "Deploy to the dev environment"
    jobs: 
      - 
        deployment: Deploy
        environment: dev
        pool: 
          vmImage: ubuntu-16.04
        strategy: 
          runOnce: 
            deploy: 
              steps: 
                - 
                  artifact: drop
                  download: current
                - 
                  displayName: "Azure App Service Deploy: website"
                  inputs: 
                    appName: $(WebAppNameDev)
                    azureSubscription: "Resource Manager - Tailspin - Space Game"
                    package: $(Pipeline.Workspace)/drop/$(buildConfiguration)/*.zip
                  task: AzureWebApp@1
        variables: 
          - 
            group: Release
    stage: Dev
  - 
    dependsOn: Dev
    displayName: "Deploy to the test environment"
    jobs: 
      - 
        deployment: Deploy
        environment: test
        pool: 
          vmImage: ubuntu-16.04
        strategy: 
          runOnce: 
            deploy: 
              steps: 
                - 
                  artifact: drop
                  download: current
                - 
                  displayName: "Azure App Service Deploy: website"
                  inputs: 
                    appName: $(WebAppNameTest)
                    azureSubscription: "Resource Manager - Tailspin - Space Game"
                    package: $(Pipeline.Workspace)/drop/$(buildConfiguration)/*.zip
                  task: AzureWebApp@1
        variables: 
          - 
            group: Release
      - 
        dependsOn: Deploy
        displayName: "Run load tests"
        job: RunLoadTests
        pool: 
          vmImage: ubuntu-16.04
        steps: 
          - 
            displayName: "Install Apache JMeter"
            script: |
                wget -c ftp.ps.pl/pub/apache/jmeter/binaries/apache-jmeter-$(jmeterVersion).tgz
                tar -xf apache-jmeter-$(jmeterVersion).tgz
          - 
            displayName: "Run Load tests"
            script: "apache-jmeter-$(jmeterVersion)/bin/./jmeter -n -t LoadTest.jmx -o Results.xml -Jhostname=$(TEST_HOSTNAME)"
          - 
            displayName: "Transform JMeter output to JUnit"
            script: |
                sudo apt-get update
                sudo apt-get install xsltproc
                xsltproc JMeter2JUnit.xsl Results.xml > JUnit.xml
          - 
            inputs: 
              testResultsFiles: JUnit.xml
              testResultsFormat: JUnit
            task: PublishTestResults@2
        variables: 
          jmeterVersion: "5.2"
    stage: Test
  - 
    dependsOn: Test
    displayName: "Deploy to the staging environment"
    jobs: 
      - 
        deployment: Deploy
        environment: staging
        pool: 
          vmImage: ubuntu-16.04
        strategy: 
          runOnce: 
            deploy: 
              steps: 
                - 
                  artifact: drop
                  download: current
                - 
                  displayName: "Azure App Service Deploy: website"
                  inputs: 
                    appName: $(WebAppNameStaging)
                    azureSubscription: "Resource Manager - Tailspin - Space Game"
                    package: $(Pipeline.Workspace)/drop/$(buildConfiguration)/*.zip
                  task: AzureWebApp@1
        variables: 
          - 
            group: Release
    stage: Staging
trigger: 
  - "*"
variables: 
  buildConfiguration: Release
